# Eat Safe, Love

## Notebook Set Up

In [12]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint
import json

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
pprint(f"There are {count} documents that have a hygiene score of 20")

# Display the first document in the results using pprint
output = establishments.find(query)
print("")
print("The first document is:")
print("-"*50)
pprint(output[0])

'There are 41 documents that have a hygiene score of 20'

The first document is:
--------------------------------------------------
{' geocode': {'latitude': 50.769705},
 'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66abd13b2f88b75d01a706be'),
 'geocode': {'latitude': '50.769705', 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [13]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(output)

# Display the number of rows in the DataFrame
count = len(df)
print(f"The number of rows in the DataFrame are {count}.")
print("")

# Display the first 10 rows of the DataFrame
df.head(10)

The number of rows in the DataFrame are 33.

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber,geocode.latitude
0,66abd1422f88b75d01a720d9,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.369321
1,66abd1432f88b75d01a723ff,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.123623
2,66abd1472f88b75d01a72f4c,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.543831
3,66abd14a2f88b75d01a73d4c,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.464066
4,66abd14a2f88b75d01a73d4d,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.464078
5,66abd14c2f88b75d01a74455,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.504071
6,66abd1552f88b75d01a76563,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.501121
7,66abd1562f88b75d01a7692a,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.503733
8,66abd1562f88b75d01a76944,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.504112
9,66abd1562f88b75d01a76945,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.504112

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [14]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={ "LocalAuthorityName": {'$regex':"London"}, "RatingValue" : {'$gte':4} }

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)

print(f"There are {count} of documents that have a 'RatingValue' greater than or equal to 4 in London.")
# Display the first document in the results using pprint
output_1= establishments.find(query)
print("")
print("The first document is")
print("-"*50)
pprint(output_1[0])

There are 33 of documents that have a 'RatingValue' greater than or equal to 4 in London.

The first document is
--------------------------------------------------
{' geocode': {'latitude': 51.369321},
 'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66abd1422f88b75d01a720d9'),
 'geocode': {'latitude': '51.369321', 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [15]:
# Convert the result to a Pandas DataFrame
pd_1 = pd.json_normalize(output_1)

# Display the number of rows in the DataFrame
count_1 = len(pd_1)
print(f"There are {count_1} rows in the DataFrame.")
print("")
# Display the first 10 rows of the DataFrame
pd_1.head(10)

There are 33 rows in the DataFrame.

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber,geocode.latitude
0,66abd1422f88b75d01a720d9,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.369321
1,66abd1432f88b75d01a723ff,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.123623
2,66abd1472f88b75d01a72f4c,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.543831
3,66abd14a2f88b75d01a73d4c,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,51.4640655517578,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.464066
4,66abd14a2f88b75d01a73d4d,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.464078
5,66abd14c2f88b75d01a74455,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.504071
6,66abd1552f88b75d01a76563,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.501121
7,66abd1562f88b75d01a7692a,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.503733
8,66abd1562f88b75d01a76944,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.504112
9,66abd1562f88b75d01a76945,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,51.5041122436523,None,0001-01-01T00:00:00,0,None,0,0,0,0,51.504112

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [61]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
latlong = establishments.find_one({"BusinessName":"Penang Flavours"}, {"geocode":1})

degree = 0.01
latitude = 51.49014200
#latlong['geocode']['latitude']
longitude = 0.08384
#latlong['geocode']['longitude']

#print(latitude) = 51.49014200
#print(longitude) = 0.08384

coords = [51.49014200, 0.08384]
#print(coords[0])

diff1= 51.49014200-0.01
diff2 = 51.49014200 + 0.01
diff3 = 0.08384 - 0.01
diff4 =0.08384 + 0.01
query_1 = {"geocode.latitude": {'$gte':latitude - degree, '$lte': latitude + degree},
        "geocode.longitude": {'$gte': longitude - degree, '$lte': longitude + degree},
        "RatingValue":'5'}

sort_1 =[("scores.Hygiene", 1)]
limit_1 = 5

# Print the results
output_1 = list(establishments.find(query_1).sort("scores.Hygiene", 1).limit(5)) 
val = len(output_1)
#df_1.head()

print(f"There are {val} number of establishments")
pprint(output_1)

There are 0 number of establishments
[]

In [65]:
# Convert result to Pandas DataFrame
df_3 = pd.json_normalize(output_1)
df_3.head(10)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [28]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match = {'$match': {"scores.Hygiene":0}}
# 2. Groups the matches by Local Authority
groups= {'$group': {'_id': "$LocalAuthorityName",
                    'count': {'$sum':1}}}
# 3. Sorts the matches from highest to lowest
sorts = {'$sort':{"count":-1}}

pipeline = [match, groups, sorts]

values = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
counts = len(values)
print(f"There are {counts} of documents in the result.")

# Print the first 10 results
print("")
print("The first document is")
print("-"*50)
pprint(values[0:10])

There are 55 of documents in the result.

The first document is
--------------------------------------------------
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [29]:
# Convert the result to a Pandas DataFrame
df_4 = pd.json_normalize(values)

# Display the number of rows in the DataFrame
count = len(df_4)
print(f"The number of rows are {count}.")
print("")
# Display the first 10 rows of the DataFrame
df_4.head(10)

The number of rows are 55.

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542